.container {
    margin-top: 20px;
  }
  
  .card {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .appBar {
    position: static;
  }
  
  .toolbar {
    display: flex;
  }
  
  .title {
    flex-grow: 1;
  }
  
  .shoppingCartButton {
    color: inherit;
  }
  